name: Build Project

on:
  push:
    branches: [ master, ver/* ]
  pull_request:
    branches: [ master, ver/* ]

  workflow_dispatch:

jobs:
  setup:
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: gradle/actions/wrapper-validation@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Set up Konan
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan/caches
            ~/.konan/dependencies
            ~/.konan/kotlin-native-prebuilt-macos-*
          key: ${{ runner.os }}-konan
          restore-keys: |
            ${{ runner.os }}-konan
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Gradle Information
        run: ./gradlew project tasks dependencies

  build:
    runs-on: ${{ matrix.os }}
    needs: setup
    timeout-minutes: 360

    permissions:
      contents: read
      id-token: write
      attestations: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-x64
            os: ubuntu-24.04
          - name: macos-arm64
            os: macos-15
          - name: macos-x64
            os: macos-15-intel
          - name: windows
            os: windows-2025

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Set up Konan
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan/caches
            ~/.konan/dependencies
            ~/.konan/kotlin-native-prebuilt-*
          key: ${{ runner.os }}-${{ runner.arch }}-konan
          restore-keys: |
            ${{ runner.os }}-konan
            ${{ runner.os }}-${{ runner.arch }}-konan
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew clean assemble
      - name: Archive Build Artifacts
        id: archive
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ matrix.name }}-${{ github.run_id }}
          path: |
            build/classes/
            build/bin/
            build/libs/
      - name: Attest Build Artifacts
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: build-artifacts-${{ matrix.name }}-${{ github.run_id }}
          subject-digest: sha256:${{ steps.archive.outputs.artifact-digest }}
      - name: Stop Gradle
        run: ./gradlew --stop

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name != 'pull_request' && github.ref_name == 'master' }}
    timeout-minutes: 45

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build Dokka
        run: ./gradlew clean dokkaGeneratePublicationHtml
      - name: Deploy Dokka
        run: bash dokka.sh ${GITHUB_SHA::7}

  publish:
    runs-on: macos-latest
    needs: build
    if: ${{ github.event_name != 'pull_request' }}
    timeout-minutes: 30

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Set up Konan
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan/caches
            ~/.konan/dependencies
            ~/.konan/kotlin-native-prebuilt-macos-*
          key: ${{ runner.os }}-konan
          restore-keys: |
            ${{ runner.os }}-konan
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Publish to Calculus Games
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
        run: ./gradlew publishAllPublicationsToCalculusGamesRepository -Psnapshot=true
      - name: Publish to GitHub Packages
        if: ${{ github.ref_name == 'master' }}
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
        run: ./gradlew publishAllPublicationsToGitHubPackagesRepository -Psuffix=${GITHUB_SHA::7}
